<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 bg-dark py-3 d-flex">
                <div class="header-logo col-6 d-flex justify-content-start">
                    <img src="assets/zanti.png" style="width:100px; height: 100px;">
                </div>
                <div class="header-menu col-6 d-flex justify-content-end pt-4">
                    <a class="menu-trigger" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>